{% extends "testdev/base.html" %}
{% block header %}
  <h2> Allactivetasks</h2>
{% endblock header %}
   <寻仙手游活跃任务查询页面>
{% block content %}
    <div id ='result' style="width:100%;margin:10px;">
        <table class ='table table-bordered'>
            <thead>
                <tr>
                    <th>任务编号</th>
                    <th>任务名称</th>
                    <th>任务标的</th>
                    <th>任务进度</th>
                    <th>任务完成情况</th>
                </tr>
            </thead>
            {% for a in r %}
            <tbody>
                <td>{{ a.id }}</td>
                <td>{{ a.desc }}</td>
                <td>{{ a.procAllCount }}</td>
                <td>{{ a.procCount }}</td>
                <td>{{ a.finished }}</td>
            {% empty %}
                There are no entries for this topic yet.
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
