{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="icon" href="{% static 'img/logo.jpg' %}" type="image/x-icon">
      <link rel="shortcut icon" href="{% static 'img/logo.jpg' %}" type="image/x-icon">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>自动化测试工具</title>
      {% bootstrap_css %}
      {% bootstrap_javascript %}
  </head>
  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                </button>
                <a class="navbar-brand" href="{% url 'testdev:index' %}">Api Test Tools</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'testdev:upload_file' %}">多列包生成工具</a>
                    </li>
                    <li>
                        <a href="{% url 'testdev:stressTesting' %}">接口压测工具</a>
                    </li>


                </ul>
            </div><!-- /.nav-collpase -->

        </div>
    </nav>

    <div class="container">
        <div class="page-header">
            {% block header %}{% endblock header %}
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </div><!-- /container -->
  </body>
</html>